// =======================
// $Typography
// =======================

$sans: 'LatoLight', helvetica, sans-serif;

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

h3{
	font-family: 'LatoRegular', helvetica, sans-serif;
}