// =======================
// $Typography
// =======================

$sans: helvetica, sans-serif;

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

h1{
	font-size: 2.4em;
}

h2{
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

h3{
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

a{
	text-decoration: underline;
	color: blue;
}