// =======================
// $Header
// =======================
.main-header{
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 1em 0 0.5em;
	@include box-shadow(0, 2px, 10px, rgba(0,0,0,0.15));
	border-bottom: 1px solid darken($red, 5%);
	background: $red;
	color: $white;
	z-index: 1000;
}

.logo{
	display: inline-block;

	a{
		font-family: 'mission_scriptregular', script, serif;
		font-size: 3em;
	}

	span{
		margin-left: 0.5em;
		font-family: $sans;
		font-size: 0.8em;
	}
}

.main-nav{
	float: right;

	li{
		display: inline-block;
		margin-left: 1.5em;
	}

	.icon{
		font-size: 1.5em;
		line-height: 1.9;
		@extend .transition;
	}
}




// $Login
.drawer{
	position: absolute;
	@extend .transition;
	background: $white;
	z-index: 2;
}

#login{
	right: 10%;
	padding: 1em;
	border-radius: 0 0 4px 4px;
	border: 1px solid $dark-grey;
	border-top: none;

	.login-button{
		position: relative;
		background: $blue;
		text-indent: 2em;
		-webkit-backface-visibility: hidden;

		&:hover{
			background: lighten($blue, 5%);
		}

		&:before{
			position: absolute;
			left: 0;
			font-size: 1.2em;
			line-height: 2.1;
			background: rgba(0,0,0,0.1);
			height: 100%;
			width: 2em;
			border-radius: 4px 0 0 4px;
			text-indent: 0.5em;
			-webkit-backface-visibility: hidden;
		}
	}
}

.logout{
	text-decoration: underline;
}

.drawer-hidden{
	top: -500px;
}