<div class="track-search-result-meta">
	<h5 class="track-search-result-title"><%= title %></h5>
	<span class="track-search-result-duration"><%= minutes %></span>
	<span class="track-search-result-source"><%= source %></span>
</div>
<div class="track-search-result-actions">
	<button class="track-search-result-add">Add to playlist</button>
	<button class="preview-track">Preview</button>
</div>