<% layout('/layout') -%>
<div class="create-date">

	<div class="track-choices-create track-choices">
		<ul>
			<li class="track-choice-bottom track-choice">
				<img src="/img/weeknd-cover-small.jpg" alt="Album Cover 3">
			</li>
			<li class="track-choice-middle track-choice">
				<img src="/img/krisskross-cover-small.jpg" alt="Album Cover 2">
			</li>
			<li class="track-choice-top track-choice">
				<a href="#music-search" class="add-track call-modal" title="Clicking this link will allow you to search and add music to your mix.">
					<h2 class="icon icon-add-music">Click to add songs to your mix</h2>
				</a>
				<img src="/img/tame-impala-cover-small.jpg" alt="Album Cover 1">
			</li>
		</ul>
	</div>

	<div class="user-images user-images-hot wrapper">
		<div class="self-user-image-outer">
			<img class="self-user-image" src="/img/jon-profile.jpg" alt="User Profile image">
		</div>
		<div class="friend-user-image-outer">
			<img class="friend-user-image" src="/img/erica-profile.jpg" alt="Friend Profile image">
			<a href="#friend-search" class="add-friend" title="Clicking this link will allow you to choose a friend to share your mix with.">
				<span>Click to add a&nbsp;friend</span>
			</a>
			<p id="friend-name"></p>
		</div>
	</div>
</div>