<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/screen.css">
    <%-stylesheets%>
  </head>
  <body>
    <div id="about" class="drawer-hidden drawer">
      <div class="wrapper">
        <h2>Create limited-time mixes to enjoy with a&nbsp;friend.</h2>
        <p>Here's how it works: <span>1</span> create a mix (three songs), <span>2</span> select a date/time to play the mix, and <span>3</span> choose a friend to listen with in real-time. Once the mix ends it's gone forever. So, enjoy it while it lasts.</p>
      </div>
    </div>

    <div id="login" class="drawer-hidden drawer">
      <a class="button login-button" href="">Login with Twitter</a>
    </div>

    <header class="main-header">
      <div class="wrapper">
        <h1 class="logo">
          <a href="/">Track With Me</a><span>Beta</span>
        </h1>
        <nav class="main-nav">
          <ul>
            <li>
              <a class="nav-list-link" href="/my-dates">
                <i aria-hidden="true" class="icon icon-menu"></i>
                <span class="screen-reader-text">View my list of dates</span>
              </a>
            </li>
            <li>
              <a class="nav-login-link nav-link nav-drawer-link" href="#login">
                <i aria-hidden="true" class="icon icon-login"></i>
                <span class="screen-reader-text">Login or Logout</span>
              </a>
            </li>
            <li>
              <a class="nav-about-link nav-link nav-drawer-link" href="#about">
                <i aria-hidden="true" class="icon icon-about"></i>
                <span class="screen-reader-text">What is Track With Me?</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <%-body%>
    </div>

    <!-- Temporary templates -->

    <script type="text/html" id="track-search-result">
    <h5 class="track-search-result-title">{{title}}</h5>
    <span class="track-search-result-duration">{{duration}}</span>
    <span class="track-search-result-source">{{source}}</span>
    </script>
    </body>

    <script src="/js/vendors.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/templates.js"></script>
    <%-scripts%>
    <script>
    TWM.start();
    </script>
  </body>
</html>
