{% extends 'layout.html' %}
{% block content %}
<h1>New Playlist</h1>
<p>Search for tracks and add them into the 3 available slots in your playlist.</p>
<form action="/process-new-playlist/" method="post">
  <input type="text" class="new-playlist-title" name="title" placeholder="Title">
  {% for i in [1, 2, 3] %}
    <!-- Track {{ i }} -->
    <label for="playlist-track-{{ i }}">Track {{ i }}</label>
    <input data-index="{{ i }}" class="playlist-track-select" type="radio" name="track[]" id="playlist-track-{{ i }}" {% if i == 0 %}checked="checked"{% endif %}>
    <input type="text" id="track-{{ i }}-title" name="track{{ i }}title" class="track-info-title">
    <input type="hidden" id="track-{{ i }}-id" name="track{{ i }}id">
    <input type="hidden" id="track-{{ i }}-source" name="track{{ i }}source">
    <input type="hidden" id="track-{{ i }}-artwork" name="track{{ i }}artwork">
    <input type="hidden" id="track-{{ i }}-duration" name="track{{ i }}duration">
  {% endfor %}
  <input type="submit" value="Create Playlist!">
</form>

<h3>Search for and add tracks</h3>

<form class="track-search">
  <input type="text" class="track-search-query" placeholder="Track name or artist">
  <input type="submit" value="Search">
</form>

<ul class="track-search-results"></ul>
{% endblock %}

{% block scripts %}
<script>
TWM.Playlist.Create.TrackSearch.start()
</script>
{% endblock %}