<% layout('/layout') -%>
<h1>New Playlist</h1>
<form action="/process-new-playist/" method="post">
  <input type="text" class="new-playlist-title" name="new-playlist-title" placeholder="Title">
  <h3>Track 1</h3>
  <button class="track-1-add">Add track</button>
  <input type="hidden" name="track-1-id">
  <input type="hidden" name="track-1-source">
  <h3>Track 2</h3>
  <button class="track-2-add">Add track</button>
  <input type="hidden" name="track-2-id">
  <input type="hidden" name="track-2-source">
  <h3>Track 3</h3>
  <button class="track-3-add">Add track</button>
  <input type="hidden" name="track-3-id">
  <input type="hidden" name="track-3-source">
</form>