<h1>Find a track</h1>

<form class="track-search">
  <input type="text" class="track-search-query" placeholder="Track name or artist">
  <input type="submit" value="Search">
</form>

<ul class="track-search-results"></ul>